.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f48c06;
    height: 100%;
}

.card {
    margin: 0.5rem 2rem;
    padding: 1rem 1rem;
    border-style: solid;
    height: 450px;
    padding: 0.5rem 0.5rem;
    width: 225px;
}

.nav-menu {
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 90px;
    background-color: #ffba08;
}


.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
}

.nav-link:hover {
    font-weight: 600;
    color: black;
}

.greeting {
    background-color:#faa307;
    height: 5rem;
    width: 100%;
    display: inline-block;
}

.mainConatiner {
    height: 100%;
}

.itemConatiner {
    height: 100%;
}

.cart {
    display: flex;
    align-items: center;
    
}

.itemCounter {
    display: flex;
    justify-content: space-evenly;
}

.card div {
    display: flex;
    justify-content: center;
}